---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
---

<BaseLayout pageTitle=`${frontmatter.title} | Blog`>
  <h2>{frontmatter.description}</h2>
  <p>
    Written by {frontmatter.author} | Published on {
      frontmatter.pubDate.toString().slice(0, 10)
    }
    <div class="tags">
      Categorized under:
      {
        tags.map((tag: string) => (
          <span class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
  </p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <slot />
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    margin-bottom: 3.5em;
  }

  .tag {
    text-decoration: none;
    padding: 0em 0.5em;
  }
</style>
